<main>
	<% if flash[:notice] %>
	    <div class="flash">
	    	<%= flash[:notice] %>
	    </div>
	<% end %>
	<h2>Books</h2>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Body</th>
				<th></th>
			</tr>
		</thead>
		<% @books.each do |book| %>
		    <tbody>
		    	<tr>
		    		<td><%= book.title %></td>
		    		<td><%= book.body %></td>
		    		<td><%= link_to "Show", book_path(book) ,class:"action" %></td>
		    		<td><%= link_to "Edit", edit_book_path(book) ,class:"action" %></td>
		    	    <td><%= link_to "Destroy", book_path(book), method: :delete, data: {confirm:"Are you sure?"} ,class:"action" %></td>
		    	<tr>
		  </tbody>
		<% end %>
	</table>
	<h4>New book</h4>
	<%= form_for(@book) do |f| %>
	    <% if @book.errors.any? %>
	        <div class="error">
	            <h4 class="error-title"><%= @book.errors.count %>errors prohibited this book from being saved:</h5>
		            <ul class="error-box">
			            <% @book.errors.full_messages.each do |message| %>
			                <li><%= message %></li>
                        <% end %>
                </ul>
            </div>
        <% end %>
        <div class="box field">
        	<div>
		        <%= f.label :title, "Titele" %>
		    </div>
		    <div>
		        <%= f.text_field :title %>
		    </div>
		</div>
		<div class="box">
			<div>
		        <%= f.label :title, "Titele" %>
		    </div>
		    <div>
		        <%= f.text_area :body %>
		    </div>
		</div>
		<%= f.submit 'Create Book' ,class:"submit" %>
	<% end %>
</main>
